@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Adding 1 line for DA-5</h1>
    <h1 class="display-4">Adding second line for DA-6</h1>
  


    </div>
