@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">New start</h1>
    <h1 class="display-4">fix stuff</h1>
    <h1 class="display-4">fix stuff</h1>
    <h1 class="display-4">fix stuff and push to main instead of pull request</h1>
    <h1 class="display-4">test full flow</h1>


  


    </div>
