@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">did some work for DA-18</h1>
    <h1 class="display-4">did some work for DA-17</h1>
    <h1 class="display-4">did some work for DA-19</h1>
   





  


    </div>
