@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">did some work for DA-16</h1>
    <h1 class="display-4">did some more work for DA-16</h1>
    <h1 class="display-4">did some more extra work for DA-16</h1>





  


    </div>
