@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Testing flow DA-10</h1>
    <h1 class="display-4">Testing flow DA-11</h1>
    <h1 class="display-4">Testing flow DA-11-A</h1>
    <h1 class="display-4">Testing flow DA-12</h1>

  


    </div>
